@media (min-width: 2560px) {
  #centerbox {
    border-width: 7px;
    margin: 30vh auto 10vh auto;
  }

  #pythonLogo,
  #javascriptLogo {
    font-size: 8vw;
  }

  .projectDisplay {
    grid-template-columns: repeat(5, 1fr);
  }

  .project {
    width: 18vw;
  }
}
