.border-bottom-expand {
  width: 0%;
  height: 1vh;
  border-bottom-width: 1mm;
  border-bottom-style: solid;
  border-bottom-color: black;
  transition-duration: 400ms;
  margin: auto auto;
}

li:hover .border-bottom-expand {
  width: 100%;
}
