@media (min-width: 1024px) and (max-width: 1439px) {
  .center-box {
    width: 90vw;
    margin: var(--small-margin) auto auto auto;
  }

  .navicon {
    font-size: var(--medium-icon);
  }

  .welcome-title {
    font-size: var(--large-font);
  }

  .welcome-message {
    font-size: var(--very-small-font);
  }

  .social-media {
    font-size: var(--medium-font);
  }

  .projectDisplay {
    grid-template-columns: repeat(3, 1fr);
  }

  .project {
    width: 30vw;
    font-size: var(--very-small-font);
  }

  img {
    width: 100%;
  }
}
