@media (min-width: 1440px) and (max-width: 2559px) {
  #centerbox {
    border-width: 6px;
    margin: 20vh auto auto auto;
  }

  .navIcon {
    font-size: 6vw;
  }

  .projectDisplay {
    grid-template-columns: repeat(4, 1fr);
  }

  .project {
    width: 23vw;
    font-size: 2vw;
  }
}
