@media (min-width: 425px) and (max-width: 767px) {
  .center-box {
    width: 90vw;
    margin: var(--small-margin) auto auto auto;
  }

  .navicon {
    font-size: var(--large-icon);
  }

  .welcome-title {
    font-size: var(--very-large-font);
  }

  .welcome-message {
    font-size: var(--very-small-font);
  }

  .social-media {
    font-size: var(--large-font);
  }

  .projectDisplay {
    grid-template-columns: 1fr;
    /* grid-template-columns: 1fr 1fr; */
  }

  .project {
    width: 90vw;
    /* width: 45vw; */
    font-size: var(--small-font);
  }

  img {
    width: 100%;
  }
}
