@media (min-width: 375px) and (max-width: 424px) {
  .center-box {
    width: 100vw;
    margin: var(--small-margin) auto auto auto;
  }

  .navicon {
    font-size: var(--large-icon);
  }

  .welcome-title {
    font-size: var(--very-large-font);
  }

  .welcome-message {
    font-size: var(--very-small-font);
  }

  .social-media {
    font-size: var(--large-font);
  }

  .projectDisplay {
    grid-template-columns: 1fr;
  }

  .project {
    width: 90vw;
    font-size: var(--small-font);
  }

  img {
    width: 100%;
  }
}
