@media (min-width: 425px) and (max-width: 767px) {
  #centerbox {
    border-width: 3px;
    margin: 20vh auto 10vh auto;
  }

  #pythonLogo,
  #javascriptLogo {
    font-size: 12vw;
  }

  .projectDisplay {
    grid-template-columns: 1fr 1fr;
  }

  .project {
    width: 45vw;
  }
}
