@media (min-width: 375px) and (max-width: 424px) {
  #centerbox {
    border-width: 2px;
    margin: 20vh auto auto auto;
  }

  .navIcon {
    font-size: 15vw;
  }

  .projectDisplay {
    grid-template-columns: 1fr;
  }

  .project {
    width: 90vw;
    font-size: 5vw;
  }
}
