@media (min-width: 768px) and (max-width: 1023px) {
  #centerbox {
    border-width: 4px;
    margin: 20vh auto auto auto;
  }

  .navIcon {
    font-size: 8vw;
  }

  .projectDisplay {
    grid-template-columns: repeat(3, 1fr);
  }

  .project {
    width: 30vw;
    font-size: 2vw;
  }
}
