@import "CSS/mobileS.css";
@import "CSS/laptopL.css";
@import "CSS/4K.css";
@import "CSS/tablet.css";
@import "CSS/laptop.css";
@import "CSS/mobileM.css";
@import "CSS/mobileL.css";
@import "CSS/customAnimations.css";

:root {
  --background-color: white;
  --font-color: black;
  --width8: 80%;
  --width9: 90%;
  --max-width: 100%;
  --max-height: 100%;

  --very-very-small-font: 1vw;
  --very-small-font: 2vw;
  --small-font: 4vw;
  --medium-font: 6vw;
  --large-font: 9vw;
  --very-large-font: 15vw;
  --very-very-large-font: 21vw;

  --small-icon: 5vw;
  --medium-icon: 10vw;
  --large-icon: 20vw;

  --small-margin: 3%;
  --medium-margin: 6%;
  --large-margin: 9%;

  --main-font: '"Playfair Display SC", serif';
  font-size: var(--medium-font);
}

body {
  margin: 0px;
  background-color: var(--background-color);
}

.App {
  display: flex;
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  color: var(--font-color);
}

#centerbox {
  padding: 3vh 3vw;
}

#pythonLogo,
#javascriptLogo {
  color: var(--font-color);
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

ul {
  padding: 0;
}

.navicon,
.welcome,
.welcome-message {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  font-family: "Playfair Display SC", serif;
}

.welcome {
  text-align: center;
  font-size: var(--large-font);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.projectDisplay {
  display: grid;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
}

.socialmedia {
  color: var(--font-color);
}

a:link,
a:visited,
a:hover,
a:active {
  background-color: var(--background-color);
  color: var(--font-color);
  text-decoration: none;
  text-align: center;
}

img {
  width: var(--max-width);
}
