@import "CSS/mobileS.css";
@import "CSS/laptopL.css";
@import "CSS/4K.css";
@import "CSS/tablet.css";
@import "CSS/laptop.css";
@import "CSS/mobileM.css";
@import "CSS/mobileL.css";
@import "CSS/customAnimations.css";
@import "CSS/customTransitions.css";

:root {
  --background-color: white;
  --font-color: black;
  --width8: 80%;
  --width9: 90%;
  --max-width: 100%;
  --max-height: 100%;

  --thumb-width: 20vw;

  --fade-delay: 500ms;
  --fade-duration: 1s;

  --very-very-small-font: 1vw;
  --very-small-font: 2vw;
  --small-font: 4vw;
  --medium-font: 6vw;
  --large-font: 9vw;
  --very-large-font: 15vw;
  --very-very-large-font: 21vw;

  --small-icon: 5vw;
  --medium-icon: 8vw;
  --large-icon: 15vw;

  --small-margin: 3%;
  --medium-margin: 6%;
  --large-margin: 9%;

  font-size: var(--medium-font);
}

body {
  margin: 0px;
  background-color: var(--background-color);
}

.App {
  display: flex;
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  color: var(--font-color);
}

.center-box {
  padding: 3vh 3vw;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

.not-found,
.welcome {
  font-family: "Playfair Display SC", serif;
  text-align: center;
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: var(--fade-duration);
  animation-timing-function: ease-in;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/* border-bottom-expand transition */
nav ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectDisplay {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.project {
  display: flex;
  flex-direction: column;
  margin: var(--medium-margin);
  font-family: Arial;
}

.project-description {
  padding: 5%;
  text-align: left;
}

figcaption {
  font-weight: bold;
}

.social-media {
  color: var(--font-color);
}

a:link,
a:visited,
a:hover,
a:active {
  background-color: var(--background-color);
  color: var(--font-color);
  text-decoration: none;
  text-align: center;
}
