@import "CSS/mobileS.css";
@import "CSS/laptopL.css";
@import "CSS/4K.css";
@import "CSS/tablet.css";
@import "CSS/laptop.css";
@import "CSS/mobileM.css";
@import "CSS/mobileL.css";

:root {
  --background-color: black;
  font-size: 5vw;
}

body {
  margin: 0px;
  background-color: var(--background-color);
}

.App {
  display: flex;
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  color: white;
}

.aboutme {
  position: absolute;
  font-family: "Playfair Display SC", serif;
  opacity: 0.3;
}

#centerbox {
  border-style: solid;
  border-color: white;
  /* margin: 20vh auto 10vh auto; */
}

nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: auto 5vw;
}

.projectDisplay {
  display: grid;
  justify-content: center;
}

.project {
  border: 1px solid green;
}
