@import "CSS/largescreens.css";
@import "CSS/desktopscreens.css";
@import "CSS/mobilescreens.css";
@import "CSS/customAnimations.css";
@import "CSS/customTransitions.css";

:root {
  --backgroundColor: white;
  --fontColor: black;
  --thumbWidth: 100%;
  --fadeDuration: 1s;
  --verySmallFont: 1rem;
  --smallFont: 0.5rem;
  --mediumFont: 5rem;
  --smallMargin: 3%;
  font-family: CenturyGothic, AppleGothic, sans-serif;
  font-size: 5mm;
}

a:link,
a:visited,
a:hover,
a:active {
  background-color: var(--backgroundColor);
  color: var(--fontColor);
  text-decoration: none;
  text-align: center;
}

body {
  margin: 0px;
  background-color: var(--backgroundColor);
}

figure {
  margin: 0;
}

figcaption {
  font-weight: bold;
  font-size: 1.5rem;
}

/* for padding at bottom */
footer {
  height: 5vh;
}

img {
  width: 100%;
  transition-duration: 400ms;
}

nav {
  margin-bottom: 2rem;
}

ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

/* border-bottom-expand transition */
ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  height: 100%;
}

ul.social-media-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.about-me {
  text-align: justify;
  /* text-align: center; */
  max-width: 180mm;
  font-family: CenturyGothic, AppleGothic, sans-serif;
}

.App {
  display: flex;
  margin: auto auto;
  background-color: var(--backgroundColor);
  width: 100vw;
  height: 100vh;
  color: var(--fontColor);
}

.badge-container{
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.badge{
  height: 3rem;
  width: 3rem;
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: var(--fadeDuration);
  animation-timing-function: ease-in;
}

.center-box {
  margin: var(--smallMargin) auto auto auto;
  width: 90vw;
}

.navicon {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  margin: 1vh;
}

.not-found {
  font-family: "Playfair Display SC", serif;
  text-align: center;
}

div.project:hover img {
  filter: opacity(0.7);
  /* filter: grayscale(100%); */
  /* outline: 2px solid black; */
}

.javascript-project-description,
.python-project-description {
  text-align: center;
}

.project-name {
  font-size: 1.4rem;
  font-family: CenturyGothic, AppleGothic, sans-serif;
}

.project-tech {
  display: flex;
  margin-bottom: 5%;
  font-family: "Playfair Display SC", serif;
}

.project-description {
  text-align: center;
  font-family: CenturyGothic, AppleGothic, sans-serif;
  font-size: 1rem;
  padding: 0 2rem 1rem 2rem;
}

.projectDisplay {
  display: grid;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 1rem;
}

.project {
  display: grid;
  flex-direction: column;
  text-align: center;
  justify-self: stretch;
  font-family: Arial;
  font-size: var(--smallFont);
  outline: 1px solid black;
}

.social-media {
  font-size: 3rem;
  color: var(--fontColor);
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Playfair Display SC", serif;
  /* text-align: center; */
}

.welcome-title {
  margin: 0 0;
  font-size: var(--mediumFont);
}

.welcome-message {
  font-size: var(--verySmallFont);
  max-width: 180mm;
  text-align: center;
}
